<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>for django</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h1 class="title">BLOG</h1>
        <div class="card_box">
            <div class="card">
                <img src="images/1.jpg" alt="1st img">
                <h1>this is a image</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum quis esse dicta, at officiis
                    consequuntur rerum reprehenderit ducimus delectus et.</p>
                    
            </div>
            <div class="card">
                <img src="images/2.jpg" alt="2nd img">
                <h1>this is a image</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum quis esse dicta, at officiis
                    consequuntur rerum reprehenderit ducimus delectus et.</p>
                    
            </div>
            <div class="card">
                <img src="images/3.jpg" alt="3rd img">
                <h1>this is a image</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum quis esse dicta, at officiis
                    consequuntur rerum reprehenderit ducimus delectus et.</p>
                    
            </div>
            <div class="card">
                <img src="images/4.jpg" alt="4th img">
                <h1>this is a image</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum quis esse dicta, at officiis
                    consequuntur rerum reprehenderit ducimus delectus et.</p>
                    
            </div>
            <div class="card">
                <img src="images/5.jpg" alt="5th img">
                <h1>this is a image</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum quis esse dicta, at officiis
                    consequuntur rerum reprehenderit ducimus delectus et.</p>
                    
            </div>
            <div class="card">
                <img src="images/6.jpg" alt="6th img">
                <h1>this is a image</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum quis esse dicta, at officiis
                    consequuntur rerum reprehenderit ducimus delectus et.</p>
                    
            </div>
            <div class="card">
                <img src="images/7.jpg" alt="7th img">
                <h1>this is a image</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum quis esse dicta, at officiis
                    consequuntur rerum reprehenderit ducimus delectus et.</p>
                    
            </div>
            <div class="card">
                <img src="images/8.jpg" alt="8th img">
                <h1>this is a image</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum quis esse dicta, at officiis
                    consequuntur rerum reprehenderit ducimus delectus et.</p>
                    
            </div>
        </div>
    </div>
</body>

</html>