{% extends 'includes/base.html' %}

{% block body %}
  {% include 'includes/navbar.html' %}
  <div class="container mt-3">
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="product_name" class="form-label">Product Name</label>
      <input type="text" class="form-control" name="product_name" value="{{data.product_name}}"/>

      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" name="description" rows="5" />{{data.description}}</textarea>

      <label for="actual_price" class="form-label">Actual Price</label>
      <input type="text" class="form-control" name="actual_price" value="{{data.actual_price}}"/>

      <label for="discount_price" class="form-label">Discounted Price</label>
      <input type="text" class="form-control" name="discount_price" value="{{data.discount_price}}"/>

      <label for="stock" class="form-label">Stocks Left</label>
      <input type="text" class="form-control" name="stock" value="{{data.stock}}"/>

      <label for="trending" class="form-check">Is Trending Product
        <input type="checkbox" name="trending" class="ms-5 me-5" {% if data.trending %} checked{% endif %}>
      </label>
      
      <td>
        <label for="category"></label>
        <select name="category" id="category">
          <option value="Mobile">Mobile</option>
          <option value="Headset">Headset</option>
          <option value="Watch">Watch</option>
          <option value="Battery">Battery</option>
          <option value="Case">Case</option>
          <option value="Electronics">Electronics</option>
        </select>
      </td>

      <div class="container m-2">
        {% if data.image %}
        <img src="{{ data.image.url }}" alt="Image of {{data.id}}" height="100px" width="200px">
        {% elif data.product_name %}  
        <span>Image not set</span>
        {% endif %}
      </div>

      <label for="image" class="form-label">Add Product Image</label>
      <input type="file" class="form-control" name="image"/>

      <button class="btn btn-success m-3" type="submit">submit</button>
    </form>
  </div>
{% endblock %}
